# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Testing & Caches
.pytest_cache/
.coverage
htmlcov/

# Streamlit secrets & local config
.streamlit/secrets.toml

# Temp files
*.tmp
*.log
